<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Pork with</string>
		<key>description</key>
		<string>很好吃</string>
		<key>meterials</key>
		<array>
			<string>猪肉</string>
			<string>木耳</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>yuxiangrousi_0.jpg</string>
			<string>yuxiangrousi_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>麻婆豆腐</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>西红柿炒鸡蛋</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>丸来丸去</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>酿豆腐</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>虎皮尖椒</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>麻婆酱豆腐</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>麻婆烤尖椒</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>鱼头豆腐汤</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>豆腐脑</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>11</key>
	<dict>
		<key>name</key>
		<string>豆腐皮包菜</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
</dict>
</plist>
