<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>yuxiangrousi</string>
		<key>description</key>
		<string>很好吃</string>
		<key>meterials</key>
		<array>
			<string>猪肉</string>
			<string>木耳</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>yuxiangrousi_0.jpg</string>
			<string>yuxiangrousi_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>mapodoufu</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>xihongshichaojidan</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>wanlaiwanqu</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>niangdoufu</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>hupijianjiao</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>mapojiangdoufu</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>mapokaojianjiao</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>yutoudoufutang</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>doufunao</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
	<key>11</key>
	<dict>
		<key>name</key>
		<string>doufupibaocai</string>
		<key>description</key>
		<string>挺好吃</string>
		<key>meterials</key>
		<array>
			<string>豆腐</string>
		</array>
		<key>pictureFiles</key>
		<array>
			<string>mapodoufu_0.jpg</string>
			<string>mapodoufu_1.jpg</string>
		</array>
		<key>dishType</key>
		<string>chinese</string>
	</dict>
</dict>
</plist>
